.auth-error {
    background: #e87c03;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    margin: 10px 0px 10px 0px;
    height: 40px;
    border-radius: 4px;
    border: 0px;
}

.auth-success {
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    margin: 10px 0px 10px 0px;
    height: 40px;
    border-radius: 4px;
    border: 0px;
}