@media only screen and (max-width: 1200px) {
    .previewCont{
        display: none;
        background-color: rgb(0,0,0,0.7);
        font-size: 12px;
        position: absolute;
        bottom: 1%;
        width: 16vw;
        transition: all .2s ease-in-out; 
        font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: black;
}

.cardImg{
    width: 15vw;
    transition: all .2s ease-in-out; 
}

.cardImgHover{
    transform: scale(1.2);
    z-index: 0.9;
}

.previewTitle{
    font-size: 15px;
    font-weight: 800;
}