.navbar {
    position: fixed;
    background-color: rgb(0,0,0,0.9);
    z-index: 2;
    top: 0%;
    width: 100%;
    min-height: 7vw;
    font-size: 1.25vw;
    transition: background-color 0.3s;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
}

.transparent {
    background-color: rgb(0,0,0,0.3);
}

.nav-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}

/* NavBar Logo top left*/

.logoContainer{
    width: fit-content;
    display: flex;
    align-items: center;
}

.logoImg{
    width: 10rem;
}

a:link, a:visited{
    color: inherit;
}

.left-align {
    display: flex;
    flex-direction: row;
}