.profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile img {
    width: 40px;
    height: 40px;
}

.dropdown {
    font-size: 14px;
    font-family: 'Netflix Sans', sans-serif;
    color: white;
    background-color: rgb(5,5,5,0.8);
    position: absolute;
    top: 75%;
    right: 5%;
    width: auto;
    min-width: 150px;
    height: auto;
    padding: 5px;
    border-radius: 5%;
}

.dropdown li {
    text-decoration: underline;
    margin-top: 10px;
}

.dropdown li:hover{
    cursor: pointer;
}

.dropdown-email {
    margin-bottom: 10px;
}